
.vs/ProjectEvaluation/voticus.metadata.v10.bin

.vs/ProjectEvaluation/voticus.projects.v10.bin

.vs/ProjectEvaluation/voticus.strings.v10.bin

.vs/Voticus.slnx/DesignTimeBuild/.dtbcache.v2

.vs/Voticus.slnx/FileContentIndex/1c707634-3ee4-430c-9a14-20ec3fe6f365.vsidx

.vs/Voticus.slnx/FileContentIndex/33da4447-5bd7-4c60-9a8c-d11a37805f95.vsidx

.vs/Voticus.slnx/FileContentIndex/d39b007c-f515-49cf-89c0-ad42676e8d93.vsidx

.vs/Voticus.slnx/FileContentIndex/e62b4727-de2d-41ec-a8ea-14e3817047ec.vsidx

.vs/Voticus.slnx/FileContentIndex/f2e2d776-56cf-47a4-8120-33fb6902b7df.vsidx

.vs/Voticus.slnx/v18/.futdcache.v2

.vs/Voticus.slnx/v18/.suo

.vs/Voticus.slnx/v18/DocumentLayout.backup.json

.vs/Voticus.slnx/v18/DocumentLayout.json

.vs/Voticus/CopilotIndices/18.3.180.61135/CodeChunks.db

.vs/Voticus/CopilotIndices/18.3.180.61135/SemanticSymbols.db
